<section class="modal close">
  <svg class="modal__close">
    <path
      d="M14 1L7.5 9M1 17L7.5 9M7.5 9L1 1M7.5 9L14 17"
      stroke="#fff"
      stroke-width="2"
      fill="none"
    />
  </svg>

  <div class="modal__container">
    <svg class="modal__container-left arrow">
      <path d="M19 1L2 18L19 35" stroke-width="2" stroke="#fff" fill="none" />
    </svg>

    <img
      class="modal__container-img"
      src="https://vsegda-pomnim.com/uploads/posts/2022-03/1647665820_30-vsegda-pomnim-com-p-gora-ko-foto-31.jpg"
      alt="1"
    />

    <svg class="modal__container-right arrow">
      <path d="M1 1L18 18L1 35" stroke-width="2" stroke="#fff" fill="none" />
    </svg>
  </div>
</section>
